* {
  /* 
    -May want to add "border-box for "box-sizing so padding does not affect width
    -Reset margin and padding 
   */
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  line-height: 1.4;
}

body {
  /* 
      -Background color is #344a72
    */
  background-color: #344a72;
  font-family: 'Raleway', sans-serif;
}

a {
  /* 
    Underlined links are ugly :)
   */
  text-decoration: none;
}

#container {
  /* 
    -Remember, margin: auto on left and right will center a block element 
    -I would also set a "max-width" for responsiveness
    -May want to add some padding
    */
  max-width: 400px;
  margin: auto 30px;
  padding: 20px;
}

.form-wrap {
  /* 
      This is the white area around the form and heading, etc
    */
  background-color: #fff;
  padding: 10px 10px;
}

.form-wrap h1,
.form-wrap p {
  /* 
      May want to center these
    */
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.form-wrap .form-group {
  /* 
      Each label, input is wrapped in .form-group
    */
  padding-bottom: 15px;
}

.form-wrap .form-group label {
  /* 
      Label should be turned into a block element
    */
  /* display: block; */
  color: #666;
}

.form-wrap .form-group input {
  /* 
      Inputs should reach accross the .form-wrap 100% and have some padding
    */
  width: 100%;
  padding: 10px;
  border: #ddd 1px solid;
  border-radius: 5px;
}

.form-wrap button {
  /* 
      Button should wrap accross 100% and display as block
      Background color for button is #49c1a2
    */
  width: 100%;
  display: block;
  background-color: #49c1a2;
  color: #fff;
  border-radius: 3px;
  border: none;
  padding: 5px;
  margin-bottom: 15px;
  cursor: pointer;
}

.form-wrap button:hover {
  /* 
      Hover background color for button is #37a08e
    */
  background-color: #37a08e;
}

.form-wrap .bottom-text {
  /* 
      Bottom text is smaller
    */
  font-size: 13px;
}

footer {
  /* 
    Should be centered
   */
  text-align: center;
  margin-top: 10px;
}

footer a {
  /* 
      Footer link color is #49c1a2
    */
  color: #49c1a2;
}
footer p {
  color: #fff;
}
.btn {
  padding-bottom: 100px;
}
